
html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: underline;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

.content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  background-image: url('/static/background-large.jpg');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 0px;
  overflow-y: auto;
}

.page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  margin: 0;
  padding: 0;
  font-family: 'Barrio', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-title {
  margin-top: 1em 0;
  padding: 0;
  font-family: 'Special Elite', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.section {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  background-color: rgba(255, 255, 255);
}

.section h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.section h2 {
  margin: 10px 0;
  padding: 0;
  font-size: 1.5em;
}

.section p {
  text-align: justify;
}

.section .photo {
  margin: 1em 0;
}

.section .photo img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 0.8em;
}

.footer .source {
  margin: 0.5em 0;
  font-family: 'VT323', monospace;
}

.signature {
  width: calc(100% - 2em);
  padding: 0.25em 1em;
  font-family: 'Dancing Script', cursive;
  font-size: 1.25em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.25);
}

.home-links {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  list-style-type: none;
}

.home-link {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.25);
}

.home-link a {
  text-decoration: none;
  font-family: 'Special Elite', system-ui;
  font-size: 1.2em;
}
.home-link a:hover {
  font-weight: bold;
}

.error-title {
  margin: 0;
  padding: 0;
}

@media (max-width: 1920px) {
  .content {
    background-image: url('/static/background-desktop.jpg');
  }
}

@media (max-width: 768px) or (max-height: 768px) {
  .content {
    background-image: url('/static/background-mobile.jpg');
  }

  .page-title {
    font-size: 3em;
  }
}

@media (orientation: portrait) {
  .content {
    background-position: 80% center;
  }
}
